/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.entry-content {
	@include center-block;
	margin-top: 2.5rem;
	margin-bottom: 4.5rem;
}

/* All Pages Body Template*/

.page:not(.page-template-about):not(.home) .site-content,
.archive .site-content,
.blog .site-content,
.single .site-content,
.tax-product_type .site-content {
	@include center-block;
	width: 1120px;
}

.page:not(.page-template-about):not(.home) .site-content,
.archive:not(.post-type-archive-product):not(.tax-product_type) .site-content,
.blog .site-content,
.single:not(.single-product) .site-content {
	display: flex;
	justify-content: space-between;

	/* Content Area */

	#primary {
		width: 70%;
		margin-right: 4rem;
		margin-top: 3rem;
	}

	/* Sidebar */

	#secondary {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-end;
		border-left: $border__solid;
		.widget {
			width: 260px;
			margin: 2.5rem 0 0 0;
			&:first-child {
				margin-top: 3.5rem;
			}
			&:last-child {
				margin-bottom: 3rem;
			}
			ul {
				list-style: none;
				padding: 0;
				margin: 0;
			}
			.widget-title {
				margin: 0 0 1.25rem 0;
				letter-spacing: $letters__wide__space;
			}
			.textwidget {
				ul {
					li {
					margin: 1rem 0;
						&:first-child {
							margin-top: 0;
						}
						&:last-child {
							margin-bottom: 0;
						}
						a {
							padding-left: .75rem;
						}
						.address {
							display: inline-grid;
							p {
								margin: 0;
							}
						}
					}
				}
			}
			.day-of-week {
				font-weight: bold;
			}
		}
	}
}

.business-hours-widget-class {
	p {
		margin: .75rem 0;
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.page-content,
.entry-summary {
	margin: $base__space-unit 0 0;

}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.format-aside .entry-title {
	display: none;
}

.page .entry-title,
.archive .page-title {
	margin: 0;
	font-size: 2.35rem;
	letter-spacing: $letters__wide__space;
}

.post .entry-title,
.single:not(.single-product) .entry-title {
	font-size: 2rem;
	color: $color__background-body;
	background-color: $color__link;
	max-width: 70%;
	padding: 1rem;
	line-height: 1.2;
	letter-spacing: $letters__wide__space;
	position: absolute;
	top: 0;
	left: 0;
	a {
		color: $color__background-body;
		&:hover {
			color: $color__link-hover-light;
		}
	}
}

.post .entry-header,
.single:not(.single-product) .entry-header {
	position: relative;
}

.post .entry-meta,
.single:not(.single-product) .entry-meta {
	font-size: 1rem;
	font-style: normal;
	font-family: $font__heads;
	text-transform: $text__uppercase;
	color: $color__background-body;
	background-color: $color__link;
	max-width: 70%;
	padding: .25rem 1rem;
	position: absolute;
	bottom: 8px;
	right: 0;
	img {
		max-width: 100%;
	}
	a {
		color: $color__background-body;
		&:hover {
			color: $color__link-hover-light;
		}
	}
}

.post .entry-content {
	margin: 1rem 0;
}

.single:not(.single-product) .entry-content {
	p.p1 {
		margin: $base__space-unit 0;
	}
}

.single .entry-footer {
	text-transform: $text__uppercase;
	font-family: $font__heads;
	.cat-links {
		margin-right: $base__space-unit;
	}
}

.social-btns {
	span {
		margin-left: .5rem;
	}
}

.journal-button {
	margin-bottom: 4rem;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-area {
	#reply-title {
		font-size: 1.75rem;
		letter-spacing: $letters__wide__space;
		margin: $base__space-unit 0;
	}
	.comments-title {
		font-size: 2rem;
		letter-spacing: $letters__wide__space;
		color: $color__link-hover-dark;
		margin: 2.75rem 0 0 0;
		line-height: 1;
	}

	.comment-list {
		margin: 0 0 1rem 0;
		padding: 0;
		list-style: none;
		>li {
			border-bottom: $border__solid;
		}
		ul {
			list-style: none;
			border-top: $border__solid;
		}
	}

	.comment-body {
		display: flex;
		padding-top: 1.25rem;
		padding-bottom: 1.5rem;
		p {
			margin: .5rem 0 1rem 0;
		}
	}

	.comment-author-avatar {
		padding-right: 3rem;
		img {
			border-radius: 50%;
			width: 70px;
			height: 70px;
		}
	}

	cite {
		font-weight: bold;
		font-style: normal;
	}

	.comment-metadata {
		color: $color__brand-light-grey;
		margin-bottom: .5rem;

	}
	.comment-form {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		line-height: 1;
		input {
			margin: 1rem 0 0 0;
		}
		p {
			margin-bottom: $base__space-unit;
		}
		.comment-form-comment {
			width: 100%;
			display: flex;
			flex-direction: column;
			textarea {
				margin-bottom: 0;
				margin-top: 1rem;
			}
		}
		.comment-form-author {
			width: 49%;
			display: flex;
			flex-direction: column;
			margin-right: 2%;
		}
		.comment-form-email {
			width: 49%;
			display: flex;
			flex-direction: column;
		}
		.comment-form-url {
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		.form-submit {
			margin-bottom: 3.5rem;
		}
	}
}