/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.page-numbers,
.btn {
	color: $color__background-body;
	background: $color__link;
	font-size: 1rem;
	font-family: $font__heads;
	font-weight: normal;
	text-transform: $text__uppercase;
	border: 0;
	box-shadow: none;
	border-radius: 0;
	text-shadow: none;
	line-height: 1;

	&:hover {
		background-color: darken($color: $color__link, $amount: 10);
	}
}

.btn {
	padding: .75rem 1.25rem;
	&:hover {
		color: $color__background-body;
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
	padding: .75rem 1.25rem;
}

.page-numbers {
	padding: .5rem .75rem;
}


.black-btn,
.white-btn {
    background: $color__background-body;
    font-size: 1rem;
    font-family: $font__heads;
    font-weight: normal;
    text-transform: $text__uppercase;
    box-shadow: none;
    border-radius: 0;
    text-shadow: none;
    line-height: 1;
    padding: .75rem 1.25rem;
	
	&:hover {
        background: $color__link;
        color: $color__background-body;
        border-color: $color__link;
        box-shadow: none;
    }
}

.black-btn {
	color: #000;
	border: 1px solid #000;
}

.white-btn {
	color: $color__background-body;
	background: transparent;
	border: 1px solid $color__background-body;
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: $border__solid;
	border-radius: 0;
	background-color: #f4f4f4;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
	margin: .5rem 0 2rem 0;
}

textarea {
	padding-left: 3px;
	width: 100%;
	margin: .5rem 0 2rem 0;
}

label {
	text-transform: $text__uppercase;
	font-family: $font__heads;
	color: $color__link-hover-dark;
	font-size: 1.15rem;
	.required-star {
		color: $color__brand-bright;
	}
	.required {
		color: $color__brand-bright;
	}
}

.error-404 {
	.search-form {
		display: block;
		margin: 1.5rem 0 2.5rem 0;
		fieldset {
            padding: 0;
            border: none;
            margin: 0;
            height: 30px;
        }
        label {
            font-size: 1rem;
            input {
                margin: 0;
                padding: .25rem;
                border: $border__solid;
                background-color: #f4f4f4;
                outline: none;
                font-family: $font__main;
                text-transform: none;
            }
		}
		button {
			display: none;
		}
	}
}