.site-header {
    padding: .5rem 0;
    border-bottom: $border__solid;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: $color__fixed-header-backgroud;
}

.transparent-header {
    border: 0;
    background: transparent;
    position: absolute;
    label {
        input[type="search"]{
            color: $color__background-body;
            &::placeholder {
                color: $color__link-hover-light;
            }
        }
    }
    a {
        color: $color__background-body;
        &:hover,
        &:focus,
        &:active {
            color: $color__link-hover-light;
        }
    }
    .logo {
        background: url(../../images/logos/inhabitent-logo-tent-white.svg) no-repeat;
        width: 50px;
        height: 50px;
        background-size: 50px;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 1120px;
    margin: 0 auto;
}

.site-description {
    display: none;
}

.logo {
    width: 50px;
    height: 50px;
    background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
    background-size: 50px;
}

.search-link {
    color: $color__link;
    &:hover,
    &:active,
    &:focus {
        color: $color__link;
    }
    padding: 0 1rem;
}

.site-header {
    .search-form {
        display: none;
        .toggle-search {
            padding: 0;
            color: $color__link;
        }
    
        fieldset {
            padding: 0;
            border: none;
            margin: 0;
            height: 30px;
        }
        label {
            font-size: 1rem;
            input {
                margin: 0;
                padding: 0;
                border: 0;
                background-color: transparent;
                outline: none;
                font-family: $font__heads;
                text-transform: $text__uppercase;
            }
        }
        button {
            display: none;
            padding: 0;
        }
    }
}

