.site-header {
    padding: .5rem 0;
    border-bottom: $border__solid;
    // position: fixed;
    // // top: 0;
    // z-index: 1;
    // width: 100%;
    background: $color__fixed-header-backgroud;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 1120px;
    margin: 0 auto;
}

.site-description {
    display: none;
}

.logo {
    width: 50px;
    img {
        width: 50px;
    }
}

.toggle-search
{
    padding: 0;
    width:20px;
    height:20px;
}

.search-form fieldset
{
    padding: 0;
    border: none;
    margin: 0;
    height: 30px;
}

.search-form fieldset button{
    display: none;
    padding: 0;
}